html,
body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template: [header-start] 1fr [header-end] 1fr 1fr 1fr  / repeat(3, 1fr);
  grid-gap: 5px;
  height: 100vh;
  width: 100vw;
  /* your properties here */
}

.grid-item {
  background-color: grey;
  border: 1px solid black;
}

/* add the .bigItem class */
.bigItem {
  grid-area: 2 / 2 / 4 / 4;
  height: 50%;
  width: 50%;
  justify-self: center;
  align-self: center;
}
